* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(150.64deg, #8E2DE2 0%, #4A00E0 100%);
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;

}

.degrees {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #FFF;
}

.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 15em;
    padding-bottom: 36px;
}
.btn {
    cursor: pointer;
    border: none;
    background: none;
}
.btn-change {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.5);
}
.city__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input__city {
    background: inherit;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    margin-bottom: 36px;
    min-width: 20em;
    min-height: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFF;
}
.input__city:focus {
    outline: none;
    border-bottom: 2px solid #FFF;
}
.input__city::placeholder{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
}
.btn-find {
    background: #FFF;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #4C01E0;
    border: none;
}
.btn-find:hover {
    transform: translateY(2px);
    transition: .2s;
    background-color: #dadada;
}
.btn-find:active {
    background-color: #c7c7c7;
    transition: .2s;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: relative;
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 50%);

}

.footer {
    position: relative;
}

.footer__text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 50%);
}